<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/84/db/c6/84dbc64896dc92977ea63e97591f02fc.jpg);">
  <div class="container">
    <h1>Welcome to your <strong>movie watch list</strong>!</h1>
    <p>A place to organize your favorite movies.</p>
    <a class="btn btn-flat" href="#bottom">See all</a>
  </div>
</div>

<div class="body">
  <div class="list-header">
    <h2>Your lists</h2>

    <div class="btn btn-flat">
     <%= link_to 'Create a new list', new_list_path %>
    </div>
  </div>
  <div class="cards">
  <% @lists.each do |list| %>

    <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
    <%= link_to list.name, list_path(list) %>
    </div>
  <% end %>
  </div>


</div>
